<div id="container">
  <div class="row">

    <div class="jumbotron">
      <h1 id="color-override">Welcome To Good Burger</h1>
      <p id="color-override">Home Of The Good Burger</p>
      <br>
      <h2 id="color-override">Make A New Burger</h2>
      <panel>
        <form class="create-form">
          <div class="form-group">
            <label for="newburger" id="color-override"></label>
      <form class="create-form">
        <div class="form-group">
          <label for="ca">Burger Name:</label>
          <input class="funkyColeMedina" type="text" id="ca" name="name">
          <button class="funkyColeMedina" type="submit">Add Burger</button>
        </div>

      </form>
          </div>
        </form>
      </panel>
    </div><!-- /jumbotron -->
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div id="waiting">
        <h2 class="pseudo-header">Burgers Waiting to be Devoured</h2>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li class="list-item">
            {{id}}: {{name}}
            <button class="change-burger" data-id="{{id}}" data-devoured="{{devoured}}">
              Devour</button>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="row"><i class="fas fa-hamburger"></i></div>
      <h2>Order A Custom Burger!</h2>

    </div>
    <div class="col-sm-5">
      <div id="devoured">
        <h2 class="pseudo-header">Burgers You Have Devoured</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <li class="list-item">
            {{id}}: {{name}}
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>